
{% extends 'social/base.html' %}

{% load static %}
{% block content %} 

<div class="container">

    <div style="float:center">



    </div>

 <div class="row">

  {% if request.user.is_authenticated %}

{% for producto in productos %}

<div class="col-md-3">

  <div class="card" style="width: 100%; margin: 5px 5px; ">

    
        <img src="{{producto.imagen.url}}" class="card-img-top"> 

       <div class="card-body" style="text-align:center ;">

             <h7  class= "card-title"  >{{producto.nombre}}</h7>
              <p  class= "card-title" >&nbsp; MXN$ {{producto.precio}} </p>

        </div>

        <div class="card-footer text-center">
          <a href="{% url 'agregar' producto.id %}" class="btn btn-success">Agregar al carrito</a>
        </div>
    </div>
    

  </div>
  
  

  {% endfor %} 


</div>

{% else %}

<script>
  function mialerta() {  
      alert("¡Para agregar a tu carrito debes de iniciar sesion");
  } 
</script>


{% for producto in productos %}

<div class="col-md-3">

  <div class="card" style="width: 100%; margin: 5px 5px; ">

    
        <img src="{{producto.imagen.url}}" class="card-img-top"> 

       <div class="card-body" style="text-align:center ;">

             <h7  class= "card-title"  >{{producto.nombre}}</h7>
              <p  class= "card-title" >&nbsp; MXN$ {{producto.precio}} </p>

        </div>

        <div class="card-footer text-center">
          <a href="{% url 'agregar' producto.id %}" class="btn btn-success" onclick="mialerta();" >Agregar al carrito</a>
        </div>
    </div>
    

  </div>
  {% endfor %} 

{% endif %}





</div>

{% endblock %}