{% extends 'social/base.html' %}
{% load static %}
{% block content %} 


<link href="{% static 'css/quienes.css' %}" rel="stylesheet"> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Minified JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>QUIENES SOMOS</title>
</head>


<body>
   <div class="maincontainer">

  
    <div class="deconstructed">
        ¿Quienes Somos?
        <div>¿Quienes Somos?</div>
        <div>¿Quienes Somos?</div>
        <div>¿Quienes Somos?</div>
        <div>¿Quienes Somos?</div>
      </div>

    </div>

    <div id="wrapper" style="margin-left: 45px;">
        <div class="product-container">
            <center>
                <b>
                    <h1 > ¿Quienes somos?</h1>
                </b>
            </center>
        <h4>La aplicación web tendrá como finalidad satisfacer las necesidades de los usuarios en general que buscan adquirir periféricos de buena calidad, a buen precio, y de una buena presentación. <br>
          
        </div>
      

        <div id="div2" style="margin-left: 1px;">
            <div class ="glow">
                <span class="text"> <img src="{% static 'imgs/LOGO_NEGATIVE.png' %}" width="200" height="150"  alt=""></a></span>
            </div>

        </div>
    </div>
<br>
<br>
<br>
<br>



<div id="wrapper" style="margin-left: 500px;">
    <div id="div3">
        <div class ="glow">

        <span class="text"><img src="{% static 'img/pcyconsola.jpg' %}"width="200" height="150" alt="">  </span>
        </div>
    </div>

    
    <div class="product" style="margin-left: 20px;">
        <center>
            <b>
                <h1 >Valores</h1>
            </b>
        </center>
        <h4> <strong>Respeto:</strong> A las ideas y diferencias individuales y culturales los cuales se manifiestan en los comentarios.</h4>
        <h4> <strong>Trabajo en equipo: </strong> Consideramos el trabajo en equipo como un pilar para la formación de todo el equipo Negative. Este estrategia debe prevalecer en toda momento, y mas con los usuarios.</h4>
      
        <h4> <strong> Responsabilidad:</strong>Estamos comprometidos en ser un socio de negocios que siempre cumpla con lo prometido.</h4> 
    </div>
</div>



    <br>
<br>
<br>



    <div id="wrapper" style="margin-left: 1px;">
        <div class="product-container">
            <center>
                <b>
                    <h1>Creadores</h1>
                </b>
            </center>
            <h4>Los creadores quienes desarrollaron esta pagina son: <h4>
        <h4> <strong>Omar Lara Salomón:</strong> (WeskerMexx) Fundador .</h4>
        <h4><strong>Sergio Kevin Villarruel Ortega :</strong> (JuguitodeKevito) Cofundador.</h4>
            
           
        </div>


        <div id="div6" style="margin-left: 20px;">
            <div class ="glow">
                <span class="text"><img src="{% static 'img/wyc.jpg' %}"width="200" height="150" alt="">  </span>
            
             
            </div>
        </div>
    </div>


</body>

</html>
{% endblock %}