{% extends 'social/base.html' %}
{% load static %}
{% block content %} 


    <link href="{% static 'css/videos.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/monse.css' %}" rel="stylesheet"> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisiones Teclados </title>
</head>



<body>
    <div class="contenedor">
        <svg viewBox="0 0 960 300">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%"> TECLADOS</text>
          </symbol>
      
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
    </div>
<br>


      
    <div class="container">
        <h1>Womier Teclado mecánico K66 60%</h1>
        <div class="row">
            <div class="col">
                <div class="feature-img">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/8Y3CDy0LJgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/womier1.jpg' %}">
                      
                    </div>
                    <p> interruptor de teclado mecánico de nivel electrónico Gateron Switch.</p>
                </div>




                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/womier2.jpg' %}">
                      
                    </div>
                    <p> cable tipo C USB 3.1.</p>
                </div>






                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/womier3.jpg' %}">
                     
                    </div>
                    <p>Teclado mecánico blanco de material acrílico PMMA: cuerpo de fundición acrílico.</p>
                </div>
            </div>
        </div>
    </div>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

 
    <div class="container">
        <h1 style="color:aqua">FEKER 60% NKRO</h1>
        <div class="row">
            <div class="col">
                <div class="feature-img">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/8Y3CDy0LJgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/feker1.jpg' %}">
                      
                    </div>
                    <p> Teclado bluetooth 5.0 Type-C</p>
                </div>




                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/faker2.jpg' %}">
                      
                    </div>
                    <p> Outemu Switch PBT Teclado</p>
                </div>





                
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/feker3.jpg' %}">
                     
                    </div>
                    <p>GB Blanco Caso Gaming Teclado - Interruptor rojo</p>
                </div>
            </div>
        </div>
    </div>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
  
     <div class="container">
         <h1 >OCELOT GAMING OGMK02</h1>
         <div class="row">
             <div class="col">
                 <div class="feature-img">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/QuLUMHX0zRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>
             </div>
 
 
             <div class="col">
                 <div class="small-img-row">
                     <div class="small-img">
                         <img src="{% static 'imgs/ocelot1.jpg' %}">
                       
                     </div>
                     <p> Ajustable, Tecnología Plug&Play.</p>
                 </div>
 
 
 
 
                 <div class="small-img-row">
                     <div class="small-img">
                         <img src="{% static 'imgs/ocelot2.jpg' %}">
                       
                     </div>
                     <p> Mecánico de Switch Azul</p>
                 </div>
 
 
 
 
 
                 
                 <div class="small-img-row">
                     <div class="small-img">
                         <img src="{% static 'imgs/ocelot3.jpg' %}">
                      
                     </div>
                     <p>Fabricado en Plástico, Iluminación Led Tipo RGB</p>
                 </div>
             </div>
         </div>
     </div>
















</body>

</html>



{% endblock %}