{% extends 'social/base.html' %}
{% load static %}
{% block content %} 


    <link href="{% static 'css/videos.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/monse.css' %}" rel="stylesheet"> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisiones Teclados </title>
</head>



<body>
    <div class="contenedor">
        <svg viewBox="0 0 960 300">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%"> HEADSETS</text>
          </symbol>
      
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
    </div>
<br>


      
    <div class="container">
        <h1> Game Factor HSG601</h1>
        <div class="row">
            <div class="col">
                <div class="feature-img">
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/Va8WRdrqMaU?start=147" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/game1.jpg' %}">
                      
                    </div>
                    <p> Control con Amplificador Multihub USB</p>
                </div>




                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/game2.jpg' %}">
                      
                    </div>
                    <p>  Estructura Metálica, Incluye Soporte Vertical </p>
                </div>






                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/game3.jpg' %}">
                     
                    </div>
                    <p> Diadema Gamer 7.1 Canales, Diafragma 50 mm, Alta Definición y Fidelidad, Micrófono Desmontable</p>
                </div>
            </div>
        </div>
    </div>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

 
    <div class="container">
        <h1 style="color:aqua">Logitech G733 LIGHTSPEED</h1>
        <div class="row">
            <div class="col">
                <div class="feature-img">
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/2IjRGEPYycE?start=147" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g7333.jpg' %}">
                      
                    </div>
                    <p> Inalámbricos Gaming, LIGHTSPEED, RGB LIGHTSYNC.</p>
                </div>




                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g7332.jpg' %}">
                      
                    </div>
                    <p>Tecnología de micrófono Blue VO!CE.</p>
                </div>





                
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g7330.jpg' %}">
                     
                    </div>
                    <p>Tecnología DTS Headphone:X 2.0., PC, PS4.</p>
                </div>
            </div>
        </div>
    </div>




















</body>

</html>



{% endblock %}