{% extends 'social/base.html' %}
{% load static %}
{% block content %} 


    <link href="{% static 'css/videos.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/monse.css' %}" rel="stylesheet"> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisiones Teclados </title>
</head>



<body>
    <div class="contenedor">
        <svg viewBox="0 0 960 300">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%"> MOUSES</text>
          </symbol>
      
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
    </div>
<br>


      
    <div class="container">
        <h1> Logitech G203 LIGHTSPEED</h1>
        <div class="row">
            <div class="col">
                <div class="feature-img">
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/DJYbVS3v2M8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g2034.jpg' %}">
                      
                    </div>
                    <p> Sensor de alta precisión con DPI ajustable hasta 8000 DPI</p>
                </div>




                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g2031.jpg' %}">
                      
                    </div>
                    <p> LIGHTSYNC RGB personalizable con efecto de onda de color personalizable </p>
                </div>






                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g2032.jpg' %}">
                     
                    </div>
                    <p>Diseño de 6 botones probado con el tiempo con botones programables usando Software Logitech G HUB</p>
                </div>
            </div>
        </div>
    </div>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

 
    <div class="container">
        <h1 style="color:aqua">Logitech G502 LIGHTSPEED</h1>
        <div class="row">
            <div class="col">
                <div class="feature-img">
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/hCWJ5Fj7Wag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g502.jpg' %}">
                      
                    </div>
                    <p> 11 Botones programables.</p>
                </div>




                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g5020.jpg' %}">
                      
                    </div>
                    <p> Memoria integrada.</p>
                </div>





                
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{% static 'imgs/g5023.jpg' %}">
                     
                    </div>
                    <p>Sensor Hero 25K, LIGHTSYNC RGB, Peso Ajustable.</p>
                </div>
            </div>
        </div>
    </div>




















</body>

</html>



{% endblock %}